Web Service For retrieving lab data/SeriesClientConsoleApp/service references/ServiceReference1/DOS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ilm.eng.ox.ac.uk/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="DOS" targetNamespace="http://ilm.eng.ox.ac.uk/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://ilm.eng.ox.ac.uk/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getClosedProjectIDs" type="tns:getClosedProjectIDs" />
      <xs:element name="getClosedProjectIDsResponse" type="tns:getClosedProjectIDsResponse" />
      <xs:element name="getComputationData" type="tns:getComputationData" />
      <xs:element name="getComputationDataResponse" type="tns:getComputationDataResponse" />
      <xs:element name="getComputationDocuments" type="tns:getComputationDocuments" />
      <xs:element name="getComputationDocumentsResponse" type="tns:getComputationDocumentsResponse" />
      <xs:element name="getComputationImages" type="tns:getComputationImages" />
      <xs:element name="getComputationImagesResponse" type="tns:getComputationImagesResponse" />
      <xs:element name="getComputationLoadingData" type="tns:getComputationLoadingData" />
      <xs:element name="getComputationLoadingDataResponse" type="tns:getComputationLoadingDataResponse" />
      <xs:element name="getComputationVideos" type="tns:getComputationVideos" />
      <xs:element name="getComputationVideosResponse" type="tns:getComputationVideosResponse" />
      <xs:element name="getExperimentData" type="tns:getExperimentData" />
      <xs:element name="getExperimentDataResponse" type="tns:getExperimentDataResponse" />
      <xs:element name="getExperimentDocuments" type="tns:getExperimentDocuments" />
      <xs:element name="getExperimentDocumentsResponse" type="tns:getExperimentDocumentsResponse" />
      <xs:element name="getExperimentImages" type="tns:getExperimentImages" />
      <xs:element name="getExperimentImagesResponse" type="tns:getExperimentImagesResponse" />
      <xs:element name="getExperimentLoadingData" type="tns:getExperimentLoadingData" />
      <xs:element name="getExperimentLoadingDataResponse" type="tns:getExperimentLoadingDataResponse" />
      <xs:element name="getExperimentVideos" type="tns:getExperimentVideos" />
      <xs:element name="getExperimentVideosResponse" type="tns:getExperimentVideosResponse" />
      <xs:element name="getOpenProjectIDs" type="tns:getOpenProjectIDs" />
      <xs:element name="getOpenProjectIDsResponse" type="tns:getOpenProjectIDsResponse" />
      <xs:element name="getProjectData" type="tns:getProjectData" />
      <xs:element name="getProjectDataResponse" type="tns:getProjectDataResponse" />
      <xs:element name="getProjectDocuments" type="tns:getProjectDocuments" />
      <xs:element name="getProjectDocumentsResponse" type="tns:getProjectDocumentsResponse" />
      <xs:element name="getProjectIDs" type="tns:getProjectIDs" />
      <xs:element name="getProjectIDsResponse" type="tns:getProjectIDsResponse" />
      <xs:element name="getSpecimenData" type="tns:getSpecimenData" />
      <xs:element name="getSpecimenDataResponse" type="tns:getSpecimenDataResponse" />
      <xs:element name="getSpecimenDocuments" type="tns:getSpecimenDocuments" />
      <xs:element name="getSpecimenDocumentsResponse" type="tns:getSpecimenDocumentsResponse" />
      <xs:element name="getSpecimenImages" type="tns:getSpecimenImages" />
      <xs:element name="getSpecimenImagesResponse" type="tns:getSpecimenImagesResponse" />
      <xs:element name="getStructuralComponentData" type="tns:getStructuralComponentData" />
      <xs:element name="getStructuralComponentDataResponse" type="tns:getStructuralComponentDataResponse" />
      <xs:element name="getVersion" type="tns:getVersion" />
      <xs:element name="getVersionResponse" type="tns:getVersionResponse" />
      <xs:element name="operationCompleted" type="tns:operationCompleted" />
      <xs:element name="operationCompletedResponse" type="tns:operationCompletedResponse" />
      <xs:element name="testMe" type="tns:testMe" />
      <xs:element name="testMeResponse" type="tns:testMeResponse" />
      <xs:element name="testMyKR" type="tns:testMyKR" />
      <xs:element name="testMyKRResponse" type="tns:testMyKRResponse" />
      <xs:complexType name="getExperimentDocuments">
        <xs:sequence>
          <xs:element minOccurs="0" name="idExperiment" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getExperimentDocumentsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:document" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="document">
        <xs:sequence>
          <xs:element minOccurs="0" name="documentAbstract" type="xs:string" />
          <xs:element minOccurs="0" name="documentAuthor" type="xs:string" />
          <xs:element minOccurs="0" name="documentDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="documentFormat" type="xs:string" />
          <xs:element minOccurs="0" name="documentRole" type="xs:string" />
          <xs:element name="documentSize" type="xs:double" />
          <xs:element minOccurs="0" name="documentTitle" type="xs:string" />
          <xs:element minOccurs="0" name="idDocument" type="xs:string" />
          <xs:element minOccurs="0" name="privacy" type="xs:string" />
          <xs:element minOccurs="0" name="scope" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getComputationDocuments">
        <xs:sequence>
          <xs:element minOccurs="0" name="idComputation" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getComputationDocumentsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:document" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getExperimentData">
        <xs:sequence>
          <xs:element minOccurs="0" name="idExperiment" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getExperimentDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:experiment" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="experiment">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:experimentComputation">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="experimentComputation">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="detailedLoadingCharacteristics" nillable="true" type="tns:detLoadChar" />
          <xs:element minOccurs="0" name="expCompName" type="xs:string" />
          <xs:element minOccurs="0" name="expCompType" type="xs:string" />
          <xs:element minOccurs="0" name="experimentComputationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="experimentComputationDocuments" nillable="true" type="tns:document" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="experimentComputationImages" nillable="true" type="tns:image" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="experimentComputationPerson" nillable="true" type="tns:person" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="experimentComputationVideos" nillable="true" type="tns:video" />
          <xs:element minOccurs="0" name="idExpComp" type="xs:string" />
          <xs:element name="numberOfRepetitions" type="xs:short" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="outputSignals" nillable="true" type="tns:signal" />
          <xs:element minOccurs="0" name="peakExcitationUnit" type="xs:string" />
          <xs:element name="peakExcitationValue" type="xs:double" />
          <xs:element minOccurs="0" name="privacy" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="detLoadChar">
        <xs:sequence>
          <xs:element minOccurs="0" name="additionalParameter" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="listOriginalLoadingSignals" nillable="true" type="tns:originalLoadingSignal" />
          <xs:element name="loadingCoefficient" type="xs:float" />
          <xs:element minOccurs="0" name="nominalLoadingName" type="xs:string" />
          <xs:element minOccurs="0" name="notes" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="originalLoadingSignal">
        <xs:sequence>
          <xs:element minOccurs="0" name="direction" type="xs:string" />
          <xs:element minOccurs="0" name="effectiveInputSignal" type="tns:signal" />
          <xs:element name="loadingCoefficient" type="xs:float" />
          <xs:element minOccurs="0" name="nature" type="xs:string" />
          <xs:element minOccurs="0" name="originalLoadingName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="originalLoadingSignalDocumentList" nillable="true" type="tns:document" />
          <xs:element minOccurs="0" name="peakExcitationUnit" type="xs:string" />
          <xs:element name="peakExcitationValue" type="xs:double" />
          <xs:element minOccurs="0" name="signal" type="tns:signal" />
          <xs:element minOccurs="0" name="source" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="signal">
        <xs:sequence>
          <xs:element minOccurs="0" name="attribute" type="xs:string" />
          <xs:element minOccurs="0" name="direction" type="xs:string" />
          <xs:element minOccurs="0" name="idSignal" type="xs:string" />
          <xs:element minOccurs="0" name="location" type="xs:string" />
          <xs:element minOccurs="0" name="physicalQuantity" type="xs:string" />
          <xs:element minOccurs="0" name="privacy" type="xs:string" />
          <xs:element minOccurs="0" name="repetitionNumber" type="xs:short" />
          <xs:element minOccurs="0" name="signalLabel" type="xs:string" />
          <xs:element minOccurs="0" name="type" type="xs:string" />
          <xs:element minOccurs="0" name="unit" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="image">
        <xs:sequence>
          <xs:element minOccurs="0" name="idImage" type="xs:string" />
          <xs:element minOccurs="0" name="imageAuthor" type="xs:string" />
          <xs:element minOccurs="0" name="imageDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="imageFormat" type="xs:string" />
          <xs:element minOccurs="0" name="imageName" type="xs:string" />
          <xs:element minOccurs="0" name="imageRole" type="xs:string" />
          <xs:element name="imageSize" type="xs:double" />
          <xs:element minOccurs="0" name="privacy" type="xs:string" />
          <xs:element minOccurs="0" name="summary" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="person">
        <xs:sequence>
          <xs:element minOccurs="0" name="familyName" type="xs:string" />
          <xs:element minOccurs="0" name="idPerson" type="xs:string" />
          <xs:element minOccurs="0" name="institution" type="tns:institution" />
          <xs:element minOccurs="0" name="role" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="institution">
        <xs:sequence>
          <xs:element minOccurs="0" name="institutionAcronym" type="xs:string" />
          <xs:element minOccurs="0" name="institutionName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="video">
        <xs:sequence>
          <xs:element minOccurs="0" name="idVideo" type="xs:string" />
          <xs:element minOccurs="0" name="privacy" type="xs:string" />
          <xs:element minOccurs="0" name="summary" type="xs:string" />
          <xs:element minOccurs="0" name="videoDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="videoFormat" type="xs:string" />
          <xs:element minOccurs="0" name="videoName" type="xs:string" />
          <xs:element minOccurs="0" name="videoRole" type="xs:string" />
          <xs:element name="videoSize" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getProjectDocuments">
        <xs:sequence>
          <xs:element minOccurs="0" name="idProject" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getProjectDocumentsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:document" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getExperimentImages">
        <xs:sequence>
          <xs:element minOccurs="0" name="idExperiment" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getExperimentImagesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:image" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="testMe">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="testMeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getExperimentVideos">
        <xs:sequence>
          <xs:element minOccurs="0" name="idExperiment" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getExperimentVideosResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:video" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getSpecimenDocuments">
        <xs:sequence>
          <xs:element minOccurs="0" name="idSpecimen" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getSpecimenDocumentsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:document" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getComputationLoadingData">
        <xs:sequence>
          <xs:element minOccurs="0" name="idComputation" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getComputationLoadingDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:detLoadChar" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getStructuralComponentData">
        <xs:sequence>
          <xs:element minOccurs="0" name="idSpecimen" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getStructuralComponentDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:structuralComponent" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="structuralComponent">
        <xs:sequence>
          <xs:element minOccurs="0" name="materialDescription" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="structuralComponentDocumentList" nillable="true" type="tns:document" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="structuralComponentMaterialList" nillable="true" type="tns:material" />
          <xs:element minOccurs="0" name="structuralComponentName" type="xs:string" />
          <xs:element minOccurs="0" name="structuralComponentType" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="material">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="actualMeanPropertyList" nillable="true" type="tns:actualMeanProperty" />
          <xs:element minOccurs="0" name="idMaterial" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="materialDocumentList" nillable="true" type="tns:document" />
          <xs:element minOccurs="0" name="materialName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="nominalPropertyList" nillable="true" type="tns:nominalProperty" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="actualMeanProperty">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="actualMeanPropertyDocumentList" nillable="true" type="tns:document" />
          <xs:element minOccurs="0" name="actualMeanPropertyName" type="xs:string" />
          <xs:element minOccurs="0" name="actualMeanPropertyUnit" type="xs:string" />
          <xs:element minOccurs="0" name="actualMeanPropertyValue" type="xs:double" />
          <xs:element minOccurs="0" name="numberOfSamples" type="xs:short" />
          <xs:element minOccurs="0" name="observations" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="nominalProperty">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="nominalPropertyDocumentList" nillable="true" type="tns:document" />
          <xs:element minOccurs="0" name="nominalPropertyName" type="xs:string" />
          <xs:element minOccurs="0" name="nominalPropertyUnit" type="xs:string" />
          <xs:element name="nominalPropertyValue" type="xs:double" />
          <xs:element minOccurs="0" name="observations" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="testMyKR">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="testMyKRResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getProjectData">
        <xs:sequence>
          <xs:element minOccurs="0" name="idProject" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getProjectDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:project" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="project">
        <xs:sequence>
          <xs:element minOccurs="0" name="acronym" type="xs:string" />
          <xs:element minOccurs="0" name="fundingOrganization" type="xs:string" />
          <xs:element minOccurs="0" name="idProject" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="infrastructure" nillable="true" type="tns:infrastructure" />
          <xs:element minOccurs="0" name="privacy" type="xs:string" />
          <xs:element minOccurs="0" name="projectDescription" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="projectDocuments" nillable="true" type="tns:document" />
          <xs:element minOccurs="0" name="projectEndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="projectKeywords" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="projectMainFocus" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="projectPerson" nillable="true" type="tns:person" />
          <xs:element minOccurs="0" name="projectStartDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="projectStatus" type="xs:string" />
          <xs:element minOccurs="0" name="projectTitle" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="specimenIDs" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="infrastructure">
        <xs:sequence>
          <xs:element minOccurs="0" name="facilityName" type="xs:string" />
          <xs:element minOccurs="0" name="infrastructureName" type="xs:string" />
          <xs:element minOccurs="0" name="location" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getSpecimenData">
        <xs:sequence>
          <xs:element minOccurs="0" name="idSpecimen" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getSpecimenDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:specimen" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="specimen">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="computationIDs" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="experimentIDs" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="idSpecimen" type="xs:string" />
          <xs:element name="maxDepth" type="xs:double" />
          <xs:element name="maxHeight" type="xs:double" />
          <xs:element name="maxLength" type="xs:double" />
          <xs:element name="maxWidth" type="xs:double" />
          <xs:element minOccurs="0" name="privacy" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="scalingList" nillable="true" type="tns:scaling" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="specimenDocuments" nillable="true" type="tns:document" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="specimenImages" nillable="true" type="tns:image" />
          <xs:element name="specimenMass" type="xs:double" />
          <xs:element minOccurs="0" name="specimenName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="structuralComponents" nillable="true" type="tns:structuralComponent" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="scaling">
        <xs:sequence>
          <xs:element name="prototypeModelratio" type="xs:double" />
          <xs:element minOccurs="0" name="scaledPropertyName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getComputationImages">
        <xs:sequence>
          <xs:element minOccurs="0" name="idComputation" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getComputationImagesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:image" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getProjectIDs">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getProjectIDsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getVersion">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getVersionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="operationCompleted">
        <xs:sequence>
          <xs:element minOccurs="0" name="operationID" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="operationCompletedResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getSpecimenImages">
        <xs:sequence>
          <xs:element minOccurs="0" name="idSpecimen" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getSpecimenImagesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:image" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getClosedProjectIDs">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getClosedProjectIDsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getComputationData">
        <xs:sequence>
          <xs:element minOccurs="0" name="idComputation" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getComputationDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:computation" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="computation">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:experimentComputation">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="computerSystem" nillable="true" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="meshModelCollection" nillable="true" type="tns:meshModel" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="meshModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="materialNonlinearity" type="xs:string" />
          <xs:element minOccurs="0" name="materialSymmetryType" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="meshModelDocumentList" nillable="true" type="tns:document" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="meshModelImageList" nillable="true" type="tns:image" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="meshModelMaterialList" nillable="true" type="tns:material" />
          <xs:element minOccurs="0" name="meshModelName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getOpenProjectIDs">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getOpenProjectIDsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getComputationVideos">
        <xs:sequence>
          <xs:element minOccurs="0" name="idComputation" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getComputationVideosResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:video" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getExperimentLoadingData">
        <xs:sequence>
          <xs:element minOccurs="0" name="idExperiment" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getExperimentLoadingDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:detLoadChar" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getSpecimenDocumentsResponse">
    <wsdl:part name="parameters" element="tns:getSpecimenDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="getProjectIDsResponse">
    <wsdl:part name="parameters" element="tns:getProjectIDsResponse" />
  </wsdl:message>
  <wsdl:message name="getExperimentDocuments">
    <wsdl:part name="parameters" element="tns:getExperimentDocuments" />
  </wsdl:message>
  <wsdl:message name="getExperimentVideosResponse">
    <wsdl:part name="parameters" element="tns:getExperimentVideosResponse" />
  </wsdl:message>
  <wsdl:message name="getComputationVideosResponse">
    <wsdl:part name="parameters" element="tns:getComputationVideosResponse" />
  </wsdl:message>
  <wsdl:message name="getComputationImagesResponse">
    <wsdl:part name="parameters" element="tns:getComputationImagesResponse" />
  </wsdl:message>
  <wsdl:message name="getExperimentImages">
    <wsdl:part name="parameters" element="tns:getExperimentImages" />
  </wsdl:message>
  <wsdl:message name="getStructuralComponentDataResponse">
    <wsdl:part name="parameters" element="tns:getStructuralComponentDataResponse" />
  </wsdl:message>
  <wsdl:message name="getComputationLoadingDataResponse">
    <wsdl:part name="parameters" element="tns:getComputationLoadingDataResponse" />
  </wsdl:message>
  <wsdl:message name="getExperimentDataResponse">
    <wsdl:part name="parameters" element="tns:getExperimentDataResponse" />
  </wsdl:message>
  <wsdl:message name="getProjectDocumentsResponse">
    <wsdl:part name="parameters" element="tns:getProjectDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="testMe">
    <wsdl:part name="parameters" element="tns:testMe" />
  </wsdl:message>
  <wsdl:message name="getExperimentImagesResponse">
    <wsdl:part name="parameters" element="tns:getExperimentImagesResponse" />
  </wsdl:message>
  <wsdl:message name="getComputationLoadingData">
    <wsdl:part name="parameters" element="tns:getComputationLoadingData" />
  </wsdl:message>
  <wsdl:message name="getStructuralComponentData">
    <wsdl:part name="parameters" element="tns:getStructuralComponentData" />
  </wsdl:message>
  <wsdl:message name="testMyKR">
    <wsdl:part name="parameters" element="tns:testMyKR" />
  </wsdl:message>
  <wsdl:message name="getComputationDataResponse">
    <wsdl:part name="parameters" element="tns:getComputationDataResponse" />
  </wsdl:message>
  <wsdl:message name="getComputationDocumentsResponse">
    <wsdl:part name="parameters" element="tns:getComputationDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="getProjectData">
    <wsdl:part name="parameters" element="tns:getProjectData" />
  </wsdl:message>
  <wsdl:message name="getSpecimenData">
    <wsdl:part name="parameters" element="tns:getSpecimenData" />
  </wsdl:message>
  <wsdl:message name="getComputationImages">
    <wsdl:part name="parameters" element="tns:getComputationImages" />
  </wsdl:message>
  <wsdl:message name="getProjectIDs">
    <wsdl:part name="parameters" element="tns:getProjectIDs" />
  </wsdl:message>
  <wsdl:message name="getVersion">
    <wsdl:part name="parameters" element="tns:getVersion" />
  </wsdl:message>
  <wsdl:message name="operationCompletedResponse">
    <wsdl:part name="parameters" element="tns:operationCompletedResponse" />
  </wsdl:message>
  <wsdl:message name="testMeResponse">
    <wsdl:part name="parameters" element="tns:testMeResponse" />
  </wsdl:message>
  <wsdl:message name="getClosedProjectIDs">
    <wsdl:part name="parameters" element="tns:getClosedProjectIDs" />
  </wsdl:message>
  <wsdl:message name="getComputationData">
    <wsdl:part name="parameters" element="tns:getComputationData" />
  </wsdl:message>
  <wsdl:message name="getExperimentLoadingData">
    <wsdl:part name="parameters" element="tns:getExperimentLoadingData" />
  </wsdl:message>
  <wsdl:message name="getExperimentLoadingDataResponse">
    <wsdl:part name="parameters" element="tns:getExperimentLoadingDataResponse" />
  </wsdl:message>
  <wsdl:message name="getClosedProjectIDsResponse">
    <wsdl:part name="parameters" element="tns:getClosedProjectIDsResponse" />
  </wsdl:message>
  <wsdl:message name="getComputationDocuments">
    <wsdl:part name="parameters" element="tns:getComputationDocuments" />
  </wsdl:message>
  <wsdl:message name="getExperimentData">
    <wsdl:part name="parameters" element="tns:getExperimentData" />
  </wsdl:message>
  <wsdl:message name="testMyKRResponse">
    <wsdl:part name="parameters" element="tns:testMyKRResponse" />
  </wsdl:message>
  <wsdl:message name="getProjectDocuments">
    <wsdl:part name="parameters" element="tns:getProjectDocuments" />
  </wsdl:message>
  <wsdl:message name="getProjectDataResponse">
    <wsdl:part name="parameters" element="tns:getProjectDataResponse" />
  </wsdl:message>
  <wsdl:message name="getExperimentDocumentsResponse">
    <wsdl:part name="parameters" element="tns:getExperimentDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="getSpecimenDataResponse">
    <wsdl:part name="parameters" element="tns:getSpecimenDataResponse" />
  </wsdl:message>
  <wsdl:message name="getSpecimenImagesResponse">
    <wsdl:part name="parameters" element="tns:getSpecimenImagesResponse" />
  </wsdl:message>
  <wsdl:message name="getExperimentVideos">
    <wsdl:part name="parameters" element="tns:getExperimentVideos" />
  </wsdl:message>
  <wsdl:message name="getSpecimenDocuments">
    <wsdl:part name="parameters" element="tns:getSpecimenDocuments" />
  </wsdl:message>
  <wsdl:message name="operationCompleted">
    <wsdl:part name="parameters" element="tns:operationCompleted" />
  </wsdl:message>
  <wsdl:message name="getSpecimenImages">
    <wsdl:part name="parameters" element="tns:getSpecimenImages" />
  </wsdl:message>
  <wsdl:message name="getOpenProjectIDsResponse">
    <wsdl:part name="parameters" element="tns:getOpenProjectIDsResponse" />
  </wsdl:message>
  <wsdl:message name="getVersionResponse">
    <wsdl:part name="parameters" element="tns:getVersionResponse" />
  </wsdl:message>
  <wsdl:message name="getOpenProjectIDs">
    <wsdl:part name="parameters" element="tns:getOpenProjectIDs" />
  </wsdl:message>
  <wsdl:message name="getComputationVideos">
    <wsdl:part name="parameters" element="tns:getComputationVideos" />
  </wsdl:message>
  <wsdl:portType name="DOS">
    <wsdl:operation name="getExperimentDocuments">
      <wsdl:input name="getExperimentDocuments" message="tns:getExperimentDocuments" />
      <wsdl:output name="getExperimentDocumentsResponse" message="tns:getExperimentDocumentsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getComputationDocuments">
      <wsdl:input name="getComputationDocuments" message="tns:getComputationDocuments" />
      <wsdl:output name="getComputationDocumentsResponse" message="tns:getComputationDocumentsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getExperimentData">
      <wsdl:input name="getExperimentData" message="tns:getExperimentData" />
      <wsdl:output name="getExperimentDataResponse" message="tns:getExperimentDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getProjectDocuments">
      <wsdl:input name="getProjectDocuments" message="tns:getProjectDocuments" />
      <wsdl:output name="getProjectDocumentsResponse" message="tns:getProjectDocumentsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getExperimentImages">
      <wsdl:input name="getExperimentImages" message="tns:getExperimentImages" />
      <wsdl:output name="getExperimentImagesResponse" message="tns:getExperimentImagesResponse" />
    </wsdl:operation>
    <wsdl:operation name="testMe">
      <wsdl:input name="testMe" message="tns:testMe" />
      <wsdl:output name="testMeResponse" message="tns:testMeResponse" />
    </wsdl:operation>
    <wsdl:operation name="getExperimentVideos">
      <wsdl:input name="getExperimentVideos" message="tns:getExperimentVideos" />
      <wsdl:output name="getExperimentVideosResponse" message="tns:getExperimentVideosResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSpecimenDocuments">
      <wsdl:input name="getSpecimenDocuments" message="tns:getSpecimenDocuments" />
      <wsdl:output name="getSpecimenDocumentsResponse" message="tns:getSpecimenDocumentsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getComputationLoadingData">
      <wsdl:input name="getComputationLoadingData" message="tns:getComputationLoadingData" />
      <wsdl:output name="getComputationLoadingDataResponse" message="tns:getComputationLoadingDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getStructuralComponentData">
      <wsdl:input name="getStructuralComponentData" message="tns:getStructuralComponentData" />
      <wsdl:output name="getStructuralComponentDataResponse" message="tns:getStructuralComponentDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="testMyKR">
      <wsdl:input name="testMyKR" message="tns:testMyKR" />
      <wsdl:output name="testMyKRResponse" message="tns:testMyKRResponse" />
    </wsdl:operation>
    <wsdl:operation name="getProjectData">
      <wsdl:input name="getProjectData" message="tns:getProjectData" />
      <wsdl:output name="getProjectDataResponse" message="tns:getProjectDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSpecimenData">
      <wsdl:input name="getSpecimenData" message="tns:getSpecimenData" />
      <wsdl:output name="getSpecimenDataResponse" message="tns:getSpecimenDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getComputationImages">
      <wsdl:input name="getComputationImages" message="tns:getComputationImages" />
      <wsdl:output name="getComputationImagesResponse" message="tns:getComputationImagesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getProjectIDs">
      <wsdl:input name="getProjectIDs" message="tns:getProjectIDs" />
      <wsdl:output name="getProjectIDsResponse" message="tns:getProjectIDsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <wsdl:input name="getVersion" message="tns:getVersion" />
      <wsdl:output name="getVersionResponse" message="tns:getVersionResponse" />
    </wsdl:operation>
    <wsdl:operation name="operationCompleted">
      <wsdl:input name="operationCompleted" message="tns:operationCompleted" />
      <wsdl:output name="operationCompletedResponse" message="tns:operationCompletedResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSpecimenImages">
      <wsdl:input name="getSpecimenImages" message="tns:getSpecimenImages" />
      <wsdl:output name="getSpecimenImagesResponse" message="tns:getSpecimenImagesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getClosedProjectIDs">
      <wsdl:input name="getClosedProjectIDs" message="tns:getClosedProjectIDs" />
      <wsdl:output name="getClosedProjectIDsResponse" message="tns:getClosedProjectIDsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getComputationData">
      <wsdl:input name="getComputationData" message="tns:getComputationData" />
      <wsdl:output name="getComputationDataResponse" message="tns:getComputationDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getOpenProjectIDs">
      <wsdl:input name="getOpenProjectIDs" message="tns:getOpenProjectIDs" />
      <wsdl:output name="getOpenProjectIDsResponse" message="tns:getOpenProjectIDsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getComputationVideos">
      <wsdl:input name="getComputationVideos" message="tns:getComputationVideos" />
      <wsdl:output name="getComputationVideosResponse" message="tns:getComputationVideosResponse" />
    </wsdl:operation>
    <wsdl:operation name="getExperimentLoadingData">
      <wsdl:input name="getExperimentLoadingData" message="tns:getExperimentLoadingData" />
      <wsdl:output name="getExperimentLoadingDataResponse" message="tns:getExperimentLoadingDataResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DOSSoapBinding" type="tns:DOS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getExperimentDocuments">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getExperimentDocuments">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getExperimentDocumentsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExperimentData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getExperimentData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getExperimentDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComputationDocuments">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getComputationDocuments">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getComputationDocumentsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjectDocuments">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getProjectDocuments">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getProjectDocumentsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExperimentImages">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getExperimentImages">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getExperimentImagesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testMe">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="testMe">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="testMeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExperimentVideos">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getExperimentVideos">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getExperimentVideosResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSpecimenDocuments">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSpecimenDocuments">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSpecimenDocumentsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComputationLoadingData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getComputationLoadingData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getComputationLoadingDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStructuralComponentData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getStructuralComponentData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getStructuralComponentDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testMyKR">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="testMyKR">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="testMyKRResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjectData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getProjectData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getProjectDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSpecimenData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSpecimenData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSpecimenDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComputationImages">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getComputationImages">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getComputationImagesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjectIDs">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getProjectIDs">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getProjectIDsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getVersion">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getVersionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="operationCompleted">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="operationCompleted">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="operationCompletedResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSpecimenImages">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSpecimenImages">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSpecimenImagesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClosedProjectIDs">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getClosedProjectIDs">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getClosedProjectIDsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComputationData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getComputationData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getComputationDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOpenProjectIDs">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getOpenProjectIDs">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getOpenProjectIDsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComputationVideos">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getComputationVideos">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getComputationVideosResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExperimentLoadingData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getExperimentLoadingData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getExperimentLoadingDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DOS">
    <wsdl:port name="DOSPort" binding="tns:DOSSoapBinding">
      <soap:address location="https://elsadata:53136/SERIESConnector/DOS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>