Web Service For retrieving lab data/Backup/SeriesClientConsoleApp/Service References/ServiceReference1/DOS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ilm.eng.ox.ac.uk/" targetNamespace="http://ilm.eng.ox.ac.uk/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getCacheInfo" type="tns:getCacheInfo" />
  <xs:element name="getCacheInfoResponse" type="tns:getCacheInfoResponse" />
  <xs:element name="getClosedProjectIDs" type="tns:getClosedProjectIDs" />
  <xs:element name="getClosedProjectIDsResponse" type="tns:getClosedProjectIDsResponse" />
  <xs:element name="getComputationData" type="tns:getComputationData" />
  <xs:element name="getComputationDataResponse" type="tns:getComputationDataResponse" />
  <xs:element name="getComputationDocuments" type="tns:getComputationDocuments" />
  <xs:element name="getComputationDocumentsResponse" type="tns:getComputationDocumentsResponse" />
  <xs:element name="getComputationImages" type="tns:getComputationImages" />
  <xs:element name="getComputationImagesResponse" type="tns:getComputationImagesResponse" />
  <xs:element name="getComputationLoadingData" type="tns:getComputationLoadingData" />
  <xs:element name="getComputationLoadingDataResponse" type="tns:getComputationLoadingDataResponse" />
  <xs:element name="getComputationVideos" type="tns:getComputationVideos" />
  <xs:element name="getComputationVideosResponse" type="tns:getComputationVideosResponse" />
  <xs:element name="getExperimentData" type="tns:getExperimentData" />
  <xs:element name="getExperimentDataResponse" type="tns:getExperimentDataResponse" />
  <xs:element name="getExperimentDocuments" type="tns:getExperimentDocuments" />
  <xs:element name="getExperimentDocumentsResponse" type="tns:getExperimentDocumentsResponse" />
  <xs:element name="getExperimentImages" type="tns:getExperimentImages" />
  <xs:element name="getExperimentImagesResponse" type="tns:getExperimentImagesResponse" />
  <xs:element name="getExperimentLoadingData" type="tns:getExperimentLoadingData" />
  <xs:element name="getExperimentLoadingDataResponse" type="tns:getExperimentLoadingDataResponse" />
  <xs:element name="getExperimentVideos" type="tns:getExperimentVideos" />
  <xs:element name="getExperimentVideosResponse" type="tns:getExperimentVideosResponse" />
  <xs:element name="getOpenProjectIDs" type="tns:getOpenProjectIDs" />
  <xs:element name="getOpenProjectIDsResponse" type="tns:getOpenProjectIDsResponse" />
  <xs:element name="getProjectData" type="tns:getProjectData" />
  <xs:element name="getProjectDataResponse" type="tns:getProjectDataResponse" />
  <xs:element name="getProjectDocuments" type="tns:getProjectDocuments" />
  <xs:element name="getProjectDocumentsResponse" type="tns:getProjectDocumentsResponse" />
  <xs:element name="getProjectIDs" type="tns:getProjectIDs" />
  <xs:element name="getProjectIDsResponse" type="tns:getProjectIDsResponse" />
  <xs:element name="getSpecimenData" type="tns:getSpecimenData" />
  <xs:element name="getSpecimenDataResponse" type="tns:getSpecimenDataResponse" />
  <xs:element name="getSpecimenDocuments" type="tns:getSpecimenDocuments" />
  <xs:element name="getSpecimenDocumentsResponse" type="tns:getSpecimenDocumentsResponse" />
  <xs:element name="getSpecimenImages" type="tns:getSpecimenImages" />
  <xs:element name="getSpecimenImagesResponse" type="tns:getSpecimenImagesResponse" />
  <xs:element name="getStructuralComponentData" type="tns:getStructuralComponentData" />
  <xs:element name="getStructuralComponentDataResponse" type="tns:getStructuralComponentDataResponse" />
  <xs:element name="getVersion" type="tns:getVersion" />
  <xs:element name="getVersionResponse" type="tns:getVersionResponse" />
  <xs:element name="operationCompleted" type="tns:operationCompleted" />
  <xs:element name="operationCompletedResponse" type="tns:operationCompletedResponse" />
  <xs:element name="testMe" type="tns:testMe" />
  <xs:element name="testMeResponse" type="tns:testMeResponse" />
  <xs:element name="testMyKR" type="tns:testMyKR" />
  <xs:element name="testMyKRResponse" type="tns:testMyKRResponse" />
  <xs:complexType name="getComputationImages">
    <xs:sequence>
      <xs:element minOccurs="0" name="idComputation" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getComputationImagesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:image" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="image">
    <xs:sequence>
      <xs:element minOccurs="0" name="documentRole" type="xs:string" />
      <xs:element minOccurs="0" name="idImage" type="xs:string" />
      <xs:element minOccurs="0" name="imageAuthor" type="xs:string" />
      <xs:element minOccurs="0" name="imageDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="imageFormat" type="xs:string" />
      <xs:element minOccurs="0" name="imageName" type="xs:string" />
      <xs:element name="imageSize" type="xs:double" />
      <xs:element minOccurs="0" name="privacy" type="xs:string" />
      <xs:element minOccurs="0" name="summary" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOpenProjectIDs">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getOpenProjectIDsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="testMe">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="testMeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getComputationData">
    <xs:sequence>
      <xs:element minOccurs="0" name="idComputation" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getComputationDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:computation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="computation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:experimentComputation">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="computerSystem" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="meshModelCollection" nillable="true" type="tns:meshModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="experimentComputation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="detailedLoadingCharacteristics" nillable="true" type="tns:detLoadChar" />
      <xs:element minOccurs="0" name="expCompName" type="xs:string" />
      <xs:element minOccurs="0" name="expCompType" type="xs:string" />
      <xs:element minOccurs="0" name="experimentComputationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="experimentComputationDocuments" nillable="true" type="tns:document" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="experimentComputationImages" nillable="true" type="tns:image" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="experimentComputationPerson" nillable="true" type="tns:person" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="experimentComputationVideos" nillable="true" type="tns:video" />
      <xs:element minOccurs="0" name="idExpComp" type="xs:string" />
      <xs:element name="numberOfRepetitions" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="outputSignals" nillable="true" type="tns:signal" />
      <xs:element minOccurs="0" name="peakExcitationUnit" type="xs:string" />
      <xs:element name="peakExcitationValue" type="xs:double" />
      <xs:element minOccurs="0" name="privacy" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="meshModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="materialNonlinearity" type="xs:string" />
      <xs:element minOccurs="0" name="materialSymmetryType" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="meshModelDocumentList" nillable="true" type="tns:document" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="meshModelImageList" nillable="true" type="tns:image" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="meshModelMaterialList" nillable="true" type="tns:material" />
      <xs:element minOccurs="0" name="meshModelName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="document">
    <xs:sequence>
      <xs:element minOccurs="0" name="documentAbstract" type="xs:string" />
      <xs:element minOccurs="0" name="documentAuthor" type="xs:string" />
      <xs:element minOccurs="0" name="documentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="documentFormat" type="xs:string" />
      <xs:element minOccurs="0" name="documentRole" type="xs:string" />
      <xs:element name="documentSize" type="xs:double" />
      <xs:element minOccurs="0" name="documentTitle" type="xs:string" />
      <xs:element minOccurs="0" name="idDocument" type="xs:string" />
      <xs:element minOccurs="0" name="privacy" type="xs:string" />
      <xs:element minOccurs="0" name="scope" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="material">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="actualMeanPropertyList" nillable="true" type="tns:actualMeanProperty" />
      <xs:element minOccurs="0" name="idMaterial" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="materialDocumentList" nillable="true" type="tns:document" />
      <xs:element minOccurs="0" name="materialName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="nominalPropertyList" nillable="true" type="tns:nominalProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualMeanProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="actualMeanPropertyDocumentList" nillable="true" type="tns:document" />
      <xs:element minOccurs="0" name="actualMeanPropertyName" type="xs:string" />
      <xs:element minOccurs="0" name="actualMeanPropertyUnit" type="xs:string" />
      <xs:element minOccurs="0" name="actualMeanPropertyValue" type="xs:double" />
      <xs:element minOccurs="0" name="numberOfSamples" type="xs:short" />
      <xs:element minOccurs="0" name="observations" type="xs:string" />
      <xs:element minOccurs="0" name="valueVectorX" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="valueVectorY" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nominalProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="nominalPropertyDocumentList" nillable="true" type="tns:document" />
      <xs:element minOccurs="0" name="nominalPropertyName" type="xs:string" />
      <xs:element minOccurs="0" name="nominalPropertyUnit" type="xs:string" />
      <xs:element name="nominalPropertyValue" type="xs:double" />
      <xs:element minOccurs="0" name="observations" type="xs:string" />
      <xs:element minOccurs="0" name="valueVectorX" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="valueVectorY" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detLoadChar">
    <xs:sequence>
      <xs:element minOccurs="0" name="additionalParameter" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listOriginalLoadingSignals" nillable="true" type="tns:originalLoadingSignal" />
      <xs:element name="loadingCoefficient" type="xs:float" />
      <xs:element minOccurs="0" name="nominalLoadingName" type="xs:string" />
      <xs:element minOccurs="0" name="notes" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="originalLoadingSignal">
    <xs:sequence>
      <xs:element minOccurs="0" name="direction" type="xs:string" />
      <xs:element minOccurs="0" name="effectiveInputSignal" type="tns:signal" />
      <xs:element name="loadingCoefficient" type="xs:float" />
      <xs:element minOccurs="0" name="nature" type="xs:string" />
      <xs:element minOccurs="0" name="originalLoadingName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="originalLoadingSignalDocumentList" nillable="true" type="tns:document" />
      <xs:element minOccurs="0" name="peakExcitationUnit" type="xs:string" />
      <xs:element name="peakExcitationValue" type="xs:double" />
      <xs:element minOccurs="0" name="signal" type="tns:signal" />
      <xs:element minOccurs="0" name="source" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="signal">
    <xs:sequence>
      <xs:element minOccurs="0" name="attribute" type="xs:string" />
      <xs:element minOccurs="0" name="direction" type="xs:string" />
      <xs:element minOccurs="0" name="idSignal" type="xs:string" />
      <xs:element minOccurs="0" name="location" type="xs:string" />
      <xs:element minOccurs="0" name="physicalQuantity" type="xs:string" />
      <xs:element minOccurs="0" name="privacy" type="xs:string" />
      <xs:element minOccurs="0" name="repetitionNumber" type="xs:short" />
      <xs:element minOccurs="0" name="signalLabel" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="xs:string" />
      <xs:element minOccurs="0" name="unit" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="person">
    <xs:sequence>
      <xs:element minOccurs="0" name="familyName" type="xs:string" />
      <xs:element minOccurs="0" name="idPerson" type="xs:string" />
      <xs:element minOccurs="0" name="institution" type="tns:institution" />
      <xs:element minOccurs="0" name="role" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="institution">
    <xs:sequence>
      <xs:element minOccurs="0" name="institutionAcronym" type="xs:string" />
      <xs:element minOccurs="0" name="institutionName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="video">
    <xs:sequence>
      <xs:element minOccurs="0" name="idVideo" type="xs:string" />
      <xs:element minOccurs="0" name="privacy" type="xs:string" />
      <xs:element minOccurs="0" name="summary" type="xs:string" />
      <xs:element minOccurs="0" name="videoDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="videoFormat" type="xs:string" />
      <xs:element minOccurs="0" name="videoName" type="xs:string" />
      <xs:element minOccurs="0" name="videoRole" type="xs:string" />
      <xs:element name="videoSize" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSpecimenImages">
    <xs:sequence>
      <xs:element minOccurs="0" name="idSpecimen" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSpecimenImagesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:image" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="testMyKR">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="testMyKRResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getStructuralComponentData">
    <xs:sequence>
      <xs:element minOccurs="0" name="idSpecimen" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getStructuralComponentDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:structuralComponent" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="structuralComponent">
    <xs:sequence>
      <xs:element minOccurs="0" name="materialDescription" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="structuralComponentDocumentList" nillable="true" type="tns:document" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="structuralComponentMaterialList" nillable="true" type="tns:material" />
      <xs:element minOccurs="0" name="structuralComponentName" type="xs:string" />
      <xs:element minOccurs="0" name="structuralComponentType" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSpecimenData">
    <xs:sequence>
      <xs:element minOccurs="0" name="idSpecimen" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSpecimenDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:specimen" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="specimen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="computationIDs" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="experimentIDs" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idSpecimen" type="xs:string" />
      <xs:element name="maxDepth" type="xs:double" />
      <xs:element name="maxHeight" type="xs:double" />
      <xs:element name="maxLength" type="xs:double" />
      <xs:element name="maxWidth" type="xs:double" />
      <xs:element minOccurs="0" name="privacy" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="scalingList" nillable="true" type="tns:scaling" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="specimenDocuments" nillable="true" type="tns:document" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="specimenImages" nillable="true" type="tns:image" />
      <xs:element name="specimenMass" type="xs:double" />
      <xs:element minOccurs="0" name="specimenName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="structuralComponents" nillable="true" type="tns:structuralComponent" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="scaling">
    <xs:sequence>
      <xs:element name="prototypeModelratio" type="xs:double" />
      <xs:element minOccurs="0" name="scaledPropertyName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getExperimentVideos">
    <xs:sequence>
      <xs:element minOccurs="0" name="idExperiment" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getExperimentVideosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:video" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getExperimentImages">
    <xs:sequence>
      <xs:element minOccurs="0" name="idExperiment" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getExperimentImagesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:image" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getVersion">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getVersionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getExperimentLoadingData">
    <xs:sequence>
      <xs:element minOccurs="0" name="idExperiment" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getExperimentLoadingDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:detLoadChar" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCacheInfo">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getCacheInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cacheInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cacheInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="cacheVersion" type="xs:string" />
      <xs:element minOccurs="0" name="creationTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
      <xs:element minOccurs="0" name="version" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getComputationDocuments">
    <xs:sequence>
      <xs:element minOccurs="0" name="idComputation" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getComputationDocumentsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:document" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProjectIDs">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getProjectIDsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSpecimenDocuments">
    <xs:sequence>
      <xs:element minOccurs="0" name="idSpecimen" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSpecimenDocumentsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:document" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getExperimentData">
    <xs:sequence>
      <xs:element minOccurs="0" name="idExperiment" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getExperimentDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:experiment" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="experiment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:experimentComputation">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="getExperimentDocuments">
    <xs:sequence>
      <xs:element minOccurs="0" name="idExperiment" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getExperimentDocumentsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:document" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getClosedProjectIDs">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getClosedProjectIDsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getComputationVideos">
    <xs:sequence>
      <xs:element minOccurs="0" name="idComputation" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getComputationVideosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:video" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProjectData">
    <xs:sequence>
      <xs:element minOccurs="0" name="idProject" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProjectDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:project" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="project">
    <xs:sequence>
      <xs:element minOccurs="0" name="acronym" type="xs:string" />
      <xs:element minOccurs="0" name="fundingOrganization" type="xs:string" />
      <xs:element minOccurs="0" name="idProject" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="infrastructure" nillable="true" type="tns:infrastructure" />
      <xs:element minOccurs="0" name="privacy" type="xs:string" />
      <xs:element minOccurs="0" name="projectDescription" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="projectDocuments" nillable="true" type="tns:document" />
      <xs:element minOccurs="0" name="projectEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="projectKeywords" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="projectMainFocus" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="projectPerson" nillable="true" type="tns:person" />
      <xs:element minOccurs="0" name="projectStartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="projectStatus" type="xs:string" />
      <xs:element minOccurs="0" name="projectTitle" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="specimenIDs" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="infrastructure">
    <xs:sequence>
      <xs:element minOccurs="0" name="facilityName" type="xs:string" />
      <xs:element minOccurs="0" name="infrastructureName" type="xs:string" />
      <xs:element minOccurs="0" name="location" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="operationCompleted">
    <xs:sequence>
      <xs:element minOccurs="0" name="operationID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="operationCompletedResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getComputationLoadingData">
    <xs:sequence>
      <xs:element minOccurs="0" name="idComputation" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getComputationLoadingDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:detLoadChar" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProjectDocuments">
    <xs:sequence>
      <xs:element minOccurs="0" name="idProject" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getProjectDocumentsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:document" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>